* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* nav style */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e65f7c;
    color: white;
    padding: 10px;
}

.shop-name {
    font-size: 25px;
    font-weight: 800;
}

.floral {
    color: #e65f7c;
    background: white;
    border-radius: 2px;
}

.shop-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 17px;
    cursor: pointer;
}

.menu {
    padding-left: 30px;
}

.menu:hover {
    color: rgba(39, 39, 39, 0.9);
}

/* banner style */

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.1);
    height: 100vh;
    padding-left: 100px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 20px;
    width: 700px;
}

.banner-info {
    color: rgba(39, 39, 39, 0.8);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
    width: 600px;
}

.banner-btn {
    padding: 20px 43px;
    border: 0;
    border-radius: 8px;
    background: #e65f7c;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.banner-btn:hover {
    color: rgba(39, 39, 39, 0.9);
}

.banner-flower {
    width: 635px;
    height: 800px;
    margin-bottom: -45px;
}

/* feature style */

.feature-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 120px;
    padding-bottom: 25px;
}

.feature-info {
    color: rgba(39, 39, 39, 0.8);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 600px;
    margin: auto;
    padding-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin: 0 200px;
    gap: 20px;
}

.card-content {
    text-align: center;
}

.img-bg-1,
.img-bg-2,
.img-bg-3 {
    width: 360px;
    height: 420px;
    border: 0 solid black;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 300px 300px 0px 0px;
}

.card-img {
    width: 250px;
}

.img-bg-1 {
    background-color: rgba(167, 33, 98, 0.15);
}

.img-bg-2 {
    background: rgba(5, 151, 160, 0.15);
    align-items: center;
}

.img-bg-3 {
    background: rgba(71, 125, 17, 0.15);
}

.card-info {
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 30px;
    margin-bottom: 100px;
    cursor: pointer;
}

.card-info:hover {
    color: #e65f7c;
}

/* delivery style */

.delivery {
    height: 240px;
    padding: 0 100px;
    margin: 0 200px;
    margin-bottom: 100px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.column-img {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.column-info {
    color: rgba(39, 39, 39, 0.8);
    font-size: 17px;
    font-weight: 600;
}

.click {
    text-decoration-line: underline;
    cursor: pointer;
}

.click:hover {
    color: #e65f7c;
}

/* deal style */

.deal {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 340px;
    margin-bottom: 100px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    gap: 140px;
}

.deal-title {
    color: #272727;
    font-size: 36px;
    font-weight: 800;
}

.off {
    color: #e65f7c;
}

.deal-info {
    display: flex;
    width: 600px;
    color: rgba(39, 39, 39, 0.8);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 25px;
    padding-bottom: 30px;
}

.deal-btn {
    padding: 20px 50px;
    border: 0;
    border-radius: 8px;
    background: #e65f7c;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.deal-btn:hover {
    color: rgba(39, 39, 39, 0.9);
}

.deal-img {
    width: 260px;
}

/* social style */

.social-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.social-info {
    width: 600px;
    margin: auto;
    color: rgba(39, 39, 39, 0.8);
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.social-img {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin: 0 200px;
    margin-bottom: 100px;
}

.social-icon {
    width: 260px;
    border-radius: 8px;
}